.inner-content {
	margin: 3% 0 3% 3%;
}

.inner-about {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.projects {
	border-top-width: 1px;
	border-top-style: solid;
}

.inner-projects {
	padding-top: 15px;
}

.projects-about {
	padding-top: 3px;
}
.projects-about h2 {
	margin: 0;
}