@media(max-width: 750px) {

	.header-left {
		display: none;
	}

	.navigation {
		display: none;
	}

	.content {
		width: 100%;
	}
}

@media(max-width: 450px) {

	.header-logo {
		flex-flow: column;
	}

	.header-logo img {
		width: 157px;
	}
}

@media(max-width: 400px) {

	.page-logo img {
		height: 30px;
	}

	.page-logo h2 {
		font-size: 17px;
	}
}

@media(min-width: 750px) {
	.adaptive-menu {
		display: none;
	}	
}