h1,h2,h3,h4,h5,p {
	font-family: 'Open Sans', sans-serif;
}

/*Это стандартный view страницы - заголовок + меню + подвал*/

header {
	background-color: #ebebeb;
}

.header-logo {
	display: flex;
	padding: 15px 15px;
}


.header-p {
	display: inline-table;
}

.header-p p {
	margin: 2px 5px;
}

.header-left {
	margin-left: auto;
	display: flex;
}

.contact-with-us {
	 border-right-width: 2px;
	 border-right-style: solid;
	 padding-right: 15px;
}


.head-contact {
	display: flex;
	flex-flow: column;
}

.head-contact p, img {
 	margin: 10px;
}

.contact-in {
	display: inline-flex;
}

.navigation {
	margin: 10px;
	width: 20%;
}

.nav-menu {
	border-right-width: 2px;
	border-color: #67655eba;
	border-right-style: solid;
	padding-bottom: 30px;
}

.nav-menu p {
	font-size: 20px;
	padding: 5px 0;
	margin: 0 20px 0 0;
}

.nav-menu ul {
	margin: 10px 0px;
	padding-bottom: 20px;
	padding: 0px;
}

.menu-ref, .active {
	text-decoration: none;
}

.menu-ref p {
	margin: 9px 0;
	color: #67655e;
	padding: 0;
}

.active p {
	margin: 9px 0;
	color: black;
	padding: 0;
}

.active p::before {
	content: "> "
}

.nav-header {
	border-bottom: 1px;
	margin-right: 20px;
	border-color: #67655eba;
	border-bottom-style: solid;
}

.main-content {
	display: flex;
}

.content {
	width: 80%;
}

footer {
	border-top: solid;
	border-width: 2px;
	border-color: #67655eba;
	background-color: #ebebeb;
	font-size: 13px;
	width: 100%;
	padding: 5px 0;
}

.info {
	list-style-type: none;
}

.info p {
	margin: 2px 0;
}



/* Ниже - для привязки footer к низу страницы */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main-page {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}